---
layout: full-width
title: Blog
ref: blog
lang: en
---
<h1 class="content-listing-header serif">Cycle Double Cover Adventure</h1>
<ul class="content-listing ">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
    <li class="listing">
        <hr class="slender">
        <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
        <br><span class="smaller">{% include post_date.html %}</span>  <br/>
        <div>{{ post.excerpt }}</div> 
    </li>
  {% endfor %}
</ul>
