<head>
  <meta charset="utf-8">
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name[page.lang] }} – {{ site.description[page.lang] }}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="twitter:title" content="{{ page.title }}" />

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
  <meta name="author" content="{{ site.name[page.lang] }}" />

  <meta property="og:image" content="https://raw.githubusercontent.com/gexahedron/gexahedron.github.io/master/images/favicon.png" />

  <!-- Google Fonts loaded here depending on setting in _data/options.yml true loads font, blank does not-->
  {% if site.data.options.lato_font_load %}
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
  {% endif %}
  
  <!-- Load up MathJax script if needed ... specify in /_data/options.yml file-->
  {% if site.data.options.mathjax %}
    <script type="text/javascript" src="//cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ "/css/tufte.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print"> -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}" />
</head>

 

