<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang }}">
  {% include meta.html %}
  <body>
    <header>
        <nav class="group">
            {% include header.html %}
        </nav>
    </header>
    <article class="group">
      {{ content }}
      {% include share-page.html %}
      {% include subscribe.html %}
      {% include disqus.html %}
    </article>
    {% include print-footer.html %}
    <footer class="group">
        {% include footer.html %}
    </footer>
    {% include analytics.html %}
  </body>
</html>
